/* Change the link color on hover */

.navtop li:hover,
.nav.navbar-nav li a:hover,
.navbar .navbar-brand:hover {
  background-color: #000;
  color: #9ee340;
}

nav {
  font-size: 1.2em;
  opacity: 0.9;
}

a {
  transition: color 0.3s ease-in-out;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
}

ul {
  background-color: #404040;
}

.nav.navbar-nav li a,
.navbar-header .navbar-brand {
  color: #fff;
}

/********* shrink navbar **********/

nav .navtop a {
  padding-bottom: 15px !important;
  padding-top: 15px !important;
  transition: all 0.5s ease;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
}

@media only screen and (min-width: 768px) {
  nav.navtop.navbar.shrink {
    margin: -10px;
  }
}

nav.navtop.navbar.shrink a {
  font-size: .9em;
  padding-bottom: 10px !important;
  padding-top: 20px !important;
}


/*********** Parallax *************/

#page0 {
  background: url('http://res.cloudinary.com/amikhalev/image/upload/v1460173756/main_banner.jpg') center center / cover no-repeat fixed;
  padding: 25em 0 0 0;
  margin: 0px;
}

.green-line {
  background-color: #9ee340;
  box-shadow: -1em 0 15em #000;
  padding: 2em;
}

#page1 {
  /*background: url('http://res.cloudinary.com/amikhalev/image/upload/v1455838820/meigetsu_in_temple.jpg') fixed;*/
  background-color: #fff;
  padding: 25em 0 5em 0;
  margin: 0px;
}

.lines {
  font-family: 'Open Sans Condensed';
  font-weight: lighter;
  font-size: 5em;
}

.grey-line {
  background-color: #7c7877;
  box-shadow: -1em 0 15em #000;
  padding: 2em;
  margin-top: 2em;
  color: #FFF;
}

#pageOneHalf {
  background-color: #9ee340;
  padding: 2em;
  padding-bottom: 8em;
  margin: 0px;
}

#pageOneHalf img {
  width: 13em;
  padding: 1em;
}

#page1_5_first_row img {
  margin-left: .1em;
  margin-right: .1em;
}

#pageOneSix {
  background-image: linear-gradient(#fff, #b5b5b5);
  padding: 0 0 10em 0;
  margin-bottom: -2em;
}

.certificates h1 {
  padding: .5em;
}

.grey-blue-line {
  background-color: #39393a;
  box-shadow: -1em 0 15em #000;
  padding: 2em;
  margin-top: 2em;
  color: #FFF;
}

#page2 {
  background: url('http://res.cloudinary.com/amikhalev/image/upload/v1460863390/damask_vignette.jpg') center center / cover fixed;
  /*box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);*/
  padding: 23em 0 5em 0;
  margin: 0px;
}

#page3 {
  /*background: url('http://res.cloudinary.com/amikhalev/image/upload/v1455836511/milk_and_coffee.jpg') fixed;*/
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  padding: 25em 0 25em 0;
  margin: 0px;
}

/*contact-form*/
.form-control {
    border-color: black;
    border-width: medium;
}

.form-control:focus {
  border-color: #9ee340;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

.has-error .form-control:focus {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

/*placeholder color*/
/*
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: #5C5555 !important;
}

input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
/*color: #5C5555 !important;
}

input::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */
/*color: #5C5555 !important;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
color: #5C5555 !important;
}*/

/*extra large button*/
.btn-xlarge {
    padding: 15px 65px;
    font-size: 23px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

/************* Content ***************/
.welcome {
  font-family: 'Pacifico', cursive;
  color: #fff;
  font-size: 9vw;

  opacity: 0;
  margin-top: 5em;

  -webkit-transition: margin-top .5s, opacity .5s;
     -moz-transition: margin-top .5s, opacity .5s;
      -ms-transition: margin-top .5s, opacity .5s;
       -o-transition: margin-top .5s, opacity .5s;
          transition: margin-top .5s, opacity .5s;

}

.up {
  opacity:1;
  margin-top: 0em;
}

.middle {
  margin-top: -18em;
}

.topper {
  margin-top: -23em;
}

.well.zero {
  background-color: rgba(245, 245, 245, 0.7);
}

.page-header {
  border-color: #000;
}

.arrow-down {
  margin-top: 10%;
}

.arrow-down:hover {
  -webkit-filter: invert(100%); filter: invert(100%);
}

.social i {
  padding: .5em;
  font-size: 5em;
  width: 2em;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.social i:hover {
  color: #f00;
}

.avatar {
  width: 380px;
  margin-left: 5vw;
}

.about {
  color: black;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  /*background-color: rgba(245, 245, 245, 0.7);*/
}

.portfolio {
  color: #FFF;
  /*font-family: 'Pacifico', cursive;*/
}

.contact h1 {
  color: #000;
}

.formText {
  font-size: 23px;
  margin: .7em;
  padding: 1.4em;
}

.projects {
  margin-top: -23em;
  padding: 1em;
  position: relative;
}

.works {
  color: #000;
  font-family: 'Alegreya Sans', sans-serif;
}

/******** Hover effect for certificates *************/
/* Thanks to http://miketricking.github.io/dist/ */

.hoverCert {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hoverCert .overlayCert {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hoverCert:hover .overlayCert {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hoverCert img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hoverCert:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hoverCert h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hoverCert a, hoverCert p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hoverCert:hover a, .hoverCert:hover p, .hoverCert:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/************ Hover effect **********/
/* Thanks to http://miketricking.github.io/dist/ */

.hovereffect {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hovereffect .overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hovereffect img {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect h2 {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover h2 {
  opacity: 1;
}

.well.well-sm.portfolio{
    background: rgba(245, 245, 245, 0.7);
    margin-top: 9em;
}

.contact.well{
     background: rgba(245, 245, 245, 0.7);
}

/************** Footer ****************/
html {
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #404040;
  color: #ffa;
}
.copyrt{
  padding-top: 35px;
}

footer li{
  display: inline;
  float: right;
}

footer a{
  display: block;
  padding: 35px 15px;
  color: #fff;
}
footer a:hover{
  color: #0099CC;
}

@media only screen and (max-width: 768px){
  /******************************/

.copyrt{
  padding: 5px;
  margin: 0;
}

.navbar {
     background: transparent;
     border-color: transparent;
}


#page0 {
  background: url('http://res.cloudinary.com/amikhalev/image/upload/v1460258896/small_main_banner.png') center center / cover no-repeat fixed;

  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  padding: 25em 0 25em 0;
  margin: 0px;
}

}
